name: Dart CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: google/dart:latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: dart pub get

      - name: Analyze library
        run: dart analyze lib

      - name: Analyze tests
        run: dart analyze test

      - name: Run tests
        run: dart test
        env:
          FIGMA_TEST_FILE: ${{ secrets.FIGMA_TEST_FILE }}
          FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_ACCESS_TOKEN }}
          FIGMA_TEST_TEAM: ${{ secrets.FIGMA_TEST_TEAM }}
          FIGMA_TEST_PROJECT: ${{ secrets.FIGMA_TEST_PROJECT }}
